<div class="jumbotron mt-4">
    <div class="card-body">
        <h1>Welcome to M채kax채</h1>
    </div>
    <h1 class="display-4">M채kax채</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, dolorum. Itaque labore a doloribus error voluptatem nemo vel eaque maiores, quos unde hic aspernatur impedit, nobis id inventore iure nisi?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias odio enim cupiditate cum blanditiis quas in, magni molestiae fuga non pariatur quasi corrupti at, veniam, reiciendis iste veritatis libero omnis!</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>